<div class="page-title">
    <h1>Tableau UI For Angular</h1>
    <div class="text-light text-large">
        This is a demo site showcasing the Tableau UI for Angular component
        library.
    </div>
</div>
<tab-separator></tab-separator>

<div class="content">
    <h3>Getting Started</h3>
    <div>To get started, install the package:</div>
    <ngx-monaco-editor
        style="height: 20px; width: 500px"
        [options]="terminalOptions"
        ngModel="npm install tableau-ui-angular"
    ></ngx-monaco-editor>
    
</div>
<div class="content">
    <h3>Using this sample site</h3>
    <div>
        This sample site is built using Angular. To run the site, clone the
        repository and run:
    </div>
</div>
<!-- <h3>Using the Components</h3>
    
    <div>
        To use the components, import the module into your application:
    </div>
    <ngx-monaco-editor
        style="height: 20px; width: 500px"
        [options]="scssOptions"
        [ngModel]="code"
    ></ngx-monaco-editor>

    <h3>Customizing the Components</h3>
    <div>
        To customize the components, you can override the CSS classes in your
        application:
    </div>
    <ngx-monaco-editor
        style="height: 20px; width: 500px"
        [options]="scssOptions"
        [ngModel]="code"
    ></ngx-monaco-editor> -->
