<div class="page">
    <div class="title">
        <h1>Table</h1>
        <div class="text-light text-large">
            Tables are used to display data in a structured format,
            allowing users to easily read and compare information.
        </div>
    </div>
    <tab-separator></tab-separator>
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>
                To use the component, import one of the following modules into
                your module/component:
            </p>

            <ul>
                <li>
                    <code>TableauUiTableModule</code> - for granular import
                </li>
                <li>
                    <code>TableauUiAllModule</code> - to import all components
                    from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Example</h3>
            <tab-checkbox [(value)]="show_first_3_columns">Only show first 3 columns</tab-checkbox>
            <tab-table [data]="data" style="max-height: 300px;" [data]="data"
                idField="id" pinnedLeftColumn="id" pinnedRightColumn="email"
                [displayedColumns]="show_first_3_columns() ? ['id', 'name', 'age'] : undefined">
                <ng-container tabColumnDef="id" headerClass="custom-static-class"
                    >
                    <ng-template tabHeaderDef let-data>ID</ng-template>
                    <ng-template tabCellDef let-data>{{ data.id }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="name" [headerClass]="customCalculatedClass">
                    <ng-template tabHeaderDef let-data>Name</ng-template>
                    <ng-template tabCellDef let-data>{{ data.name }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="age">
                    <ng-template tabHeaderDef let-data>Age</ng-template>
                    <ng-template tabCellDef let-data>{{ data.age }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="gender">
                    <ng-template tabHeaderDef let-data>Gender</ng-template>
                    <ng-template tabCellDef let-data>{{ data.gender }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="Country">
                    <ng-template tabHeaderDef let-data>Country</ng-template>
                    <ng-template tabCellDef let-data>{{ data.country }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="City">
                    <ng-template tabHeaderDef let-data>City</ng-template>
                    <ng-template tabCellDef let-data>{{ data.city }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="email" >
                    <ng-template tabHeaderDef let-data>Email</ng-template>
                    <ng-template tabCellDef let-data>{{ data.email }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="phone">
                    <ng-template tabHeaderDef let-data>Phone</ng-template>
                    <ng-template tabCellDef let-data>{{ data.phone }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="address">
                    <ng-template tabHeaderDef let-data>Address</ng-template>
                    <ng-template tabCellDef let-data>{{ data.address }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="zipCode">
                    <ng-template tabHeaderDef let-data>zipCode</ng-template>
                    <ng-template tabCellDef let-data>{{ data.zipCode }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="username">
                    <ng-template tabHeaderDef let-data>username</ng-template>
                    <ng-template tabCellDef let-data>{{ data.username }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="birthdate">
                    <ng-template tabHeaderDef let-data>birthdate</ng-template>
                    <ng-template tabCellDef let-data>{{ data.birthdate }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="joinDate">
                    <ng-template tabHeaderDef let-data>joinDate</ng-template>
                    <ng-template tabCellDef let-data>{{ data.joinDate }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="isActive">
                    <ng-template tabHeaderDef let-data>isActive</ng-template>
                    <ng-template tabCellDef let-data>{{ data.isActive }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="score">
                    <ng-template tabHeaderDef let-data>score</ng-template>
                    <ng-template tabCellDef let-data>{{ data.score }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="role">
                    <ng-template tabHeaderDef let-data>role</ng-template>
                    <ng-template tabCellDef let-data>{{ data.role }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="department">
                    <ng-template tabHeaderDef let-data>department</ng-template>
                    <ng-template tabCellDef let-data>{{ data.department }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="employeeId" >
                    <ng-template tabHeaderDef let-data>employeeId</ng-template>
                    <ng-template tabCellDef let-data>{{ data.employeeId }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="language" >
                    <ng-template tabHeaderDef let-data>language</ng-template>
                    <ng-template tabCellDef let-data>{{ data.language }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="notes" >
                    <ng-template tabHeaderDef let-data>notes</ng-template>
                    <ng-template tabCellDef let-data>{{ data.notes }}</ng-template>
                </ng-container>
            </tab-table>
        </div>
    </div>
</div>
