<!-- eslint-disable  @angular-eslint/template/no-inline-styles -->
<div class="page">
    <div class="title">
        <h1>Table</h1>
        <div class="text-light text-large">
            Tables are used to display data in a structured format, allowing
            users to easily read and compare information.
        </div>
    </div>
    <tab-separator></tab-separator>
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>
                To use the component, import one of the following modules into
                your module/component:
            </p>

            <ul>
                <li><code>TableauUiTableModule</code> - for granular import</li>
                <li>
                    <code>TableauUiAllModule</code> - to import all components
                    from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Example</h3>
            <div class="options">
                <tab-checkbox [(value)]="$show_first_3_columns"
                    >Only show first 3 columns</tab-checkbox
                >
                <tab-checkbox [(value)]="$striped">Striped</tab-checkbox>
                <button color="primary" (click)="reset(true, false)">Reset and show data</button>
                <button color="primary" (click)="reset(false, false)">Reset and show no data</button>
                <button color="primary" (click)="reset(true, true)">Reset and throw error on any block load after 20 offset</button>
                <tab-checkbox [(value)]="$customNoDataTemplate">CustomNoDataTemplate</tab-checkbox>
            </div>
            <ng-template #customnodatatemplate>
                Custom No Data Template
            </ng-template>
            <tab-table #table
                style="max-height: 300px"
                [getDataBlock]="loadBlock"
                [sortMode]="'multi'"
                [displayedColumns]="
                    $show_first_3_columns() ? ['id', 'name', 'age'] : undefined
                "
                [striped]="$striped()"
                [noDataTemplate]="$customNoDataTemplate() ? customnodatatemplate : 'default'"
            >
                <ng-container
                    tabColumnDef="id"
                    headerClass="custom-static-class"
                >
                    <ng-template let-data tabHeaderDef>ID</ng-template>
                    <ng-template let-data tabCellDef>{{ data.id }}</ng-template>
                </ng-container>
                <ng-container
                    tabColumnDef="name"
                    minWidth="100px"
                    maxWidth="200px"
                    [headerClass]="customCalculatedClass"
                    [headerTooltip]="customNameHeaderTooltip"
                    [cellTooltip]="customNameCellTooltip"
                >
                    <ng-template let-data tabHeaderDef>Name</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.name
                    }}</ng-template>
                </ng-container>
                <ng-template
                    #customNameHeaderTooltip
                    let-template="template"
                    let-ctx="ctx"
                    let-sortMode="sortMode"
                    let-sortable="sortable"
                    let-sortOrder="sortOrder"
                    let-currentSort="currentSort"
                    let-allSorts="allSorts"
                >
                    <div>Custom tooltip for:</div>
                    <ng-container
                        [ngTemplateOutlet]="template"
                        [ngTemplateOutletContext]="ctx"
                    ></ng-container>
                </ng-template>
                <ng-template
                    #customNameCellTooltip
                    let-template="template"
                    let-ctx="ctx"
                >
                    <div>Custom tooltip data:</div>
                    <ng-container
                        [ngTemplateOutlet]="template"
                        [ngTemplateOutletContext]="ctx"
                    ></ng-container>
                </ng-template>
                <ng-container tabColumnDef="age" [resizable]="false">
                    <ng-template let-data tabHeaderDef>Age</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.age
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="gender" [sortable]="false">
                    <ng-template let-data tabHeaderDef>Gender</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.gender
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="Country" propertyName="country">
                    <ng-template let-data tabHeaderDef>Country</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.country
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="City" propertyName="city">
                    <ng-template let-data tabHeaderDef>City</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.city
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="email">
                    <ng-template let-data tabHeaderDef>Email</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.email
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="phone">
                    <ng-template let-data tabHeaderDef>Phone</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.phone
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="address">
                    <ng-template let-data tabHeaderDef>Address</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.address
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="zipCode">
                    <ng-template let-data tabHeaderDef>zipCode</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.zipCode
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="username">
                    <ng-template let-data tabHeaderDef>username</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.username
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="birthdate">
                    <ng-template let-data tabHeaderDef>birthdate</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.birthdate
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="joinDate">
                    <ng-template let-data tabHeaderDef>joinDate</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.joinDate
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="isActive">
                    <ng-template let-data tabHeaderDef>isActive</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.isActive
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="score">
                    <ng-template let-data tabHeaderDef>score</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.score
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="role">
                    <ng-template let-data tabHeaderDef>role</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.role
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="department">
                    <ng-template let-data tabHeaderDef>department</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.department
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="employeeId">
                    <ng-template let-data tabHeaderDef>employeeId</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.employeeId
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="language">
                    <ng-template let-data tabHeaderDef>language</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.language
                    }}</ng-template>
                </ng-container>
                <ng-container tabColumnDef="notes">
                    <ng-template let-data tabHeaderDef>notes</ng-template>
                    <ng-template let-data tabCellDef>{{
                        data.notes
                    }}</ng-template>
                </ng-container>
            </tab-table>
        </div>
    </div>
</div>
