<div class="main-content">
    <tab-nav-bar #navBar>
        <tab-nav-bar-footer>
            <div class="version">v{{ version }}</div>
        </tab-nav-bar-footer>
        <tab-nav-bar-header>
            <img class="logo" src="tableau_ui_logo.svg" alt="Tableau UI Logo" />
        </tab-nav-bar-header>

        <tab-nav-bar-button
            icon="home"
            text="Home"
            link="/"
            [isActive]="(page$ | async) === 'home'"
        ></tab-nav-bar-button>

        <tab-nav-bar-button
            icon="css"
            text="CSS & Fonts"
            link="/css"
            [isActive]="(page$ | async) === 'css'"
        ></tab-nav-bar-button>

        <tab-nav-bar-button
        icon="add_circle"
        text="Icons"
        link="/icons"
        [isActive]="(page$ | async) === 'icons'"
    ></tab-nav-bar-button>

    <tab-separator></tab-separator>

    <tab-nav-bar-button
    icon="trackpad_input"
    text="Buttons"
    link="/buttons"
    [isActive]="(page$ | async) === 'buttons'"
></tab-nav-bar-button>

        <tab-nav-bar-button
            icon="check_box"
            text="Checkbox"
            link="/checkbox"
            [isActive]="(page$ | async) === 'checkbox'"
        ></tab-nav-bar-button>

        <tab-nav-bar-button
            icon="edit_square"
            text="Form Fields"
            link="/form-fields"
            [isActive]="(page$ | async) === 'form-fields'"
        ></tab-nav-bar-button>

        <tab-nav-bar-button
        icon="radio_button_checked"
        text="Radio Groups"
        link="/radios"
        [isActive]="(page$ | async) === 'radios'"
    ></tab-nav-bar-button>

    <tab-nav-bar-button
    icon="dialogs"
    text="Dialogs"
    link="/dialogs"
    [isActive]="(page$ | async) === 'dialogs'"
></tab-nav-bar-button>

<tab-nav-bar-button
icon="toast"
text="Snackbar"
link="/snackbar"
[isActive]="(page$ | async) === 'snackbar'"
></tab-nav-bar-button>
<tab-nav-bar-button
icon="tooltip"
text="Tooltips"
link="/tooltips"
[isActive]="(page$ | async) === 'tooltips'"
></tab-nav-bar-button>

        <tab-nav-bar-button
            icon="home"
            text="Home Disabled"
            link="/"
            [isActive]="false"
            [disabled]="true"
        ></tab-nav-bar-button>

        <tab-separator></tab-separator>

        <tab-nav-bar-button
            icon="home"
            text="Home"
            link="/"
            [isActive]="false"
        ></tab-nav-bar-button>

        <tab-nav-bar-button
            icon="home"
            text="Home"
            link="/"
            [isActive]="false"
        ></tab-nav-bar-button>
    </tab-nav-bar>
    <div><router-outlet></router-outlet></div>
</div>

<!-- <div class="grid">
    <tab-loader [message]="'szeva'"></tab-loader>

    <tab-group>
        <tab>
            <div tab-header>
                <i class="icon-example"></i> Tooltips & dialogs
            </div>
            <div class="tab-content">
                <ng-template #tooltipTemplate>Tooltip Coming from template</ng-template>
            
                <div style="margin-top: 20px">
                    <span tooltip="Tooltip provided as text" tooltipPosition="top">
                        Top TEXT tooltip, default margin
                    </span>
                </div>
                <div style="margin-top: 20px">
                    <span [tooltip]="tooltipTemplate" tooltipPosition="left">
                        Left TEMPLATE tooltip, default margin
                    </span>
                </div>
                <div style="margin-left: 520px">
                    <span [tooltip]="tooltipTemplate" tooltipPosition="left" tooltipMargin="10px">
                        Left TEMPLATE tooltip, changed margin (10px)
                    </span>
                </div>
                <div style="margin-top: 20px">
                    <span [tooltip]="tooltipTemplate" tooltipPosition="bottom" tooltipMargin="2em">
                        Bottom TEMPLATE tooltip, changed margin (2em)
                    </span>
                </div>

                <div style="margin-top: 20px">
                    <span [tooltip]="tooltipTemplate" tooltipPosition="right">
                        Right TEMPLATE tooltip, default margin
                    </span>
                </div>

                
                </div>
            </div>
        </tab>
        <tab>
           
        </tab>
    </tab-group>
</div> -->
