/* You can add global styles to this file, and also import other style files */
@use "../../component-library/styles/lib-styles" as libStyles;
@include libStyles.font-import('/fonts');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.page {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .title {
        margin: 2em 2em 1em 2em;
    }
    .content {
        overflow: auto;
        grid-row: 3;
        
    }
    .section {
        padding-bottom: 0;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
    
        p {
            margin-bottom: 0.5em;
        }

        .spacer {
            display: grid;
            row-gap: 0.5rem;
        }
        .two {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
    }

}

code {
    padding: 0 0.25em;
    background: var(--twc-color-highlight);
}




