/* You can add global styles to this file, and also import other style files */
@use "../../component-library/styles/lib-styles" as libStyles;

// if you use Locally Hosted Icons: 
// @use 'material-symbols/rounded'; // if you used icons with type: Material Symbols Rounded
// @use 'material-symbols/outlined'; // if you used icons with type: Material Symbols Outlined
// @use 'material-symbols/sharp'; // if you used icons with type: Material Symbols Sharp

// If you use Dynamic Icons:
@use '../public/icons/material-icons.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@include libStyles.font-import('/fonts');

body {
    background-color: var(--twc-color-base);
}
.page {
    height: 100vh; // stylelint-disable-line declaration-property-unit-disallowed-list
    display: grid;
    grid-template-rows: auto auto 1fr;

    .title {
        margin: 2em 2em 1em;
    }

    .content {
        overflow: auto;
        grid-row: 3;
        
    }

    .section {
        padding: 1em 2em 0;
    
        p {
            margin-bottom: 0.5em;
        }

        .spacer {
            display: grid;
            row-gap: 0.5rem;
        }

        .two {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
    }

}

code {
    padding: 0 0.25em;
    background: var(--twc-color-highlight);
}




