body {
    font-family: var(--twc-font-family);
    font-size: var(--twc-font-size-body);
    color: var(--twc-color-text);
    line-height: 1.5;
    margin: 0;
}

.text-large {
    font-size: var(--twc-font-size-body-large);
}

.text {
    font-size: var(--twc-font-size-body);
}

h4,.text-body-large {
    font-size: var(--twc-font-size-body-large);
    font-weight: bold;
    margin: 0.5em 0;
}
h3,
.text-subtitle {
    font-size: var(--twc-font-size-subtitle);
    font-weight: bold;
    margin: 0.5em 0;
    line-height: 0.75em;
}

.text-light {
    color: var(--twx-color-text-light);
}

h2,
.text-title {
    font-size: var(--twc-font-size-title);
    font-weight: bold;
    margin: 0.5em 0;
    line-height: 0.75em;
}
h1,
.text-page-title {
    font-size: var(--twc-font-size-page-title);
    font-weight: normal;
    margin: 0.5em 0;
    line-height: 0.75em;
}
a {
    color: var(--twc-color-link);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.text-primary {
    color: var(--twc-color-primary);
}
