:root {
    --twc-font-family: "Benton Sans STM", "Benton Sans", "Roboto", Arial, Helvetica, sans-serif;
    --twc-font-size-body: 12px;
    --twc-font-size-body-large: round(1.1em, 1px); // this will round to the nearest pixel
    --twc-font-size-subtitle: round(1.3em, 1px);// this will round to the nearest pixel
    --twc-font-size-title: round(1.4em, 1px);// this will round to the nearest pixel
    --twc-font-size-page-title: round(2em, 1px);// this will round to the nearest pixel
    --twc-color-text:  rgba(0, 0, 0, 0.8);
    --twc-color-text-strong: rgba(0, 0, 0, 1);
    --twc-color-text-light: rgb(102, 102, 102);
    --twc-color-link: rgb(26, 105, 158);
    --twc-color-primary:#05628A;
    --twc-color-primary-highlight:  #023248;
    --twc-color-on-primary:  #EAF5FE;
    --twc-color-error: red;
    --twc-color-success:green;
    --twc-color-border: #cbcbcb;
    --twc-color-disabled: rgb(205, 205, 205);
    --twc-color-text-gray: #919191;
    --twc-color-highlight: rgb(230, 230, 230);
    --twc-color-highlight-background: rgb(250,250,250);
}

