/* stylelint-disable declaration-property-unit-disallowed-list */

:root {
    --twc-font-family: "Benton Sans", "Roboto", arial, helvetica, sans-serif;
    --twc-low-dpi-font-family: "Benton Sans Low-DPI", "Roboto", arial, helvetica,
        sans-serif;
    --twc-font-size-body: 12px;
    --twc-font-size-body-large: 1.1em;
    --twc-font-size-subtitle: 1.3em;
    --twc-font-size-title: 1.4em;
    --twc-font-size-page-title: 2em;
    --twc-menu-border-radius: 1px;
    --twc-input-border-radius: 1px;

    --twc-menu-highlight-outline: 1px solid var(--twc-color-text-gray);
    --twc-menu-highlight-outline-offset: -1px;
    --twc-menu-selected-background-color: rgba(
        var(--twc-color-primary-r),
        var(--twc-color-primary-g),
        var(--twc-color-primary-b),
        0.1
    );
    --twc-menu-selected-outline: 1px solid
        rgba(
            var(--twc-color-primary-r),
            var(--twc-color-primary-g),
            var(--twc-color-primary-b),
            0.5
        );
    --twc-menu-selected-outline-offset: -1px;

    --twc-input-border: 1px solid var(--twc-color-border);
}

@supports (width: round(1em, 1px)) {
    :root {
        --twc-font-size-body-large: round(1.1em, 1px);
        --twc-font-size-subtitle: round(1.3em, 1px);
        --twc-font-size-title: round(1.4em, 1px);
        --twc-font-size-page-title: round(2em, 1px);
    }
}
