.tab-tooltip {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--twc-color-base);
    border: 1px solid var(--twc-color-border-light);
    border-radius: 1px;
    box-shadow: var(--twc-menu-box-shadow);
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    line-height: normal;
    padding: 1rem;
}

