<ng-template #templateRef let-renderIcon="renderIcon" let-renderText="renderText" let-renderHint="renderHint" let-renderAsDisabled="renderAsDisabled">
    <div class="tab-option grid" [class.disabled]="$disabled() || renderAsDisabled">
        @let icon = $icon();
        @if (renderIcon && icon !== undefined) {
        <div class="icon" [style.marginRight]="renderText ? '0.25rem' : '0'">
            <tab-icon [value]="icon" [params]="$iconParams()" />
        </div>
        } @if (renderText && $textType() !== 'none') {
        <div class="content">
            @if ($textType() === 'string') { {{ $textString() }} } @else if ($textType() === 'template') {
            <ng-container *ngTemplateOutlet="$textTemplate()" />
            }
        </div>
        } @if (renderHint && $hintType() !== 'none') {
        <div class="hint">
            @if ($hintType() === 'string') { {{ $hintString() }} } @else if ($hintType() === 'template') {
            <ng-container *ngTemplateOutlet="$hintTemplate()" />
            }
        </div>
        }
    </div>
</ng-template>
<ng-template #lineTemplateRef let-renderIcon="renderIcon" let-renderText="renderText" let-renderAsDisabled="renderAsDisabled">
    <span class="tab-option line" [class.disabled]="$disabled() || renderAsDisabled">
        @let icon = $icon();
        @if (renderIcon && icon !== undefined) {
        <span class="icon" [style.marginRight]="renderText ? '0.25rem' : '0'">
            <tab-icon [value]="icon" [params]="$iconParams()" />
        </span>
        } @if (renderText && $textType() !== 'none') {
        <span class="content">
            @if ($textType() === 'string') { {{ $textString() }} } @else if ($textType() === 'template') {
            <ng-container *ngTemplateOutlet="$textTemplate()" />
            }
        </span>
        }
    </span>
</ng-template>
