<div class="menu-toggle-button">
  <button layout="icon" tooltipPosition="right" color="plain" [tooltip]="$expanded() ? 'Collapse menu' : 'Expand menu'" (click)="$expanded.set(!$expanded())">
    <tab-icon [value]="$expanded() ? 'keyboard_arrow_left' : 'keyboard_arrow_right'" />
  </button>
</div>

@if ($header()) {
  <div class="header"><ng-content select="tab-nav-bar-header" /></div>
}

<tab-arrow-scroll
  scrollDirection="vertical"
  buttonsColor="plain"
  buttonsCssColor="var(--twc-color-text-light)"
  [scrollType]="$expanded() ? 'default' : 'arrow'"
  [showScrollButtonSeparator]="true"
  [iconParams]="{ fontSize: '2rem' }"
>
  <ng-content />
</tab-arrow-scroll>

@if ($footer()) {
  <div class="footer"><ng-content select="tab-nav-bar-footer" /></div>
}
