/* stylelint-disable declaration-property-value-disallowed-list, function-disallowed-list */
@use './color-vars' as color-vars;
:root {
    @include color-vars.define-theme((
        color-base: rgb(255 255 255),
        color-base-highlight: rgb(250 250 250),
        color-text: rgb(0 0 0 / 80%),
        color-text-strong: rgb(0 0 0 / 100%),
        color-text-light: rgb(102 102 102),
        color-link: rgb(26 105 158),
    
        color-primary-r: 5,
        color-primary-g: 98,
        color-primary-b: 138,
        color-primary: rgb(var(--twc-color-primary-r), var(--twc-color-primary-g), var(--twc-color-primary-b)),
        color-primary-light: rgb(207 233 254),
        color-primary-dark: rgb(2 50 72),
        color-on-primary: rgb(234 245 254),
    
        color-error: rgb(186 5 23),
        color-error-dark: rgb(100 1 3),
        color-error-light: rgb(255 203 203),
    
        color-success: rgb(0 128 0),
        color-success-light: rgb(212 248 212),
        color-disabled: rgb(205 205 205),
        color-text-gray: rgb(145 145 145),
        color-highlight: rgb(220 220 220),
        color-mouse-highlight: rgb(235 235 235),
    
        color-border-light: rgb(203 203 203),
        color-border: rgb(116 116 116),
        color-border-dark: rgb(46 46 46),
        color-border-dark-disabled: rgb(174 174 174),
        color-focused-input: rgb(10 91 171),
    
        tab-color-active-underline: rgb(92 92 92),
        tab-color-inactive-underline: rgb(230 230 230),
    
        dialog-color-header: rgb(243 243 243),
        menu-box-shadow: 0px 2px 16px 0px rgb(46 46 46 / 15%),
        menu-highlight-background-color: rgb(229 229 229),
       
    
      ));
    
  }
  