/* stylelint-disable no-descending-specificity */
:host {
    display: block;
    overflow: auto;
    // stylelint-disable-next-line declaration-property-unit-disallowed-list
    min-height: 300px;

    .table {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;

        .data-sizer {
            position: fixed;
            top: 0;
            left: 0;
            visibility: hidden;
            width: 0;
        }

        .column-row {
            display: flex;
            position: sticky;
            width: fit-content;
            top: 0;
            box-shadow: inset 0 -1px 0 var(--twc-color-border);
            background: var(--twc-color-base);
            background-clip: padding-box;
            z-index: 2;

            .column-header {
                display: grid;
                // stylelint-disable-next-line declaration-property-unit-disallowed-list
                grid-template-columns: 100% 0;
                grid-template-rows: auto;

                .content {
                    grid-column: 1;
                    grid-row: 1;

                    .header-button {
                        .content {
                            display: grid;
                            gap: 0.5em;
                            grid-template-columns: 1fr auto;

                            .text {
                                user-select: none;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .sort-indicator {
                                display: flex;
                                align-items: center;

                                .no-sort {
                                    color: var(--twc-color-text-gray);
                                }

                                span {
                                    font-size: 0.8em;
                                    color: var(--twc-color-text-gray);
                                    margin-top: 0.1em;
                                }
                            }
                        }

                        &.not-sortable {
                            outline: none;
                            cursor: default;

                            &:hover {
                                background: initial;
                            }

                            .content {
                                gap: 0;
                                grid-template-columns: 1fr;
                            }
                        }
                    }
                }

                &.pinned-left {
                    box-shadow:
                        inset 0 -1px 0 var(--twc-color-border),
                        inset -1px 0 0 var(--twc-color-border-light);
                    left: 0;
                    background: var(--twc-color-base);
                    position: sticky;
                    z-index: 4;
                }

                &.pinned-right {
                    box-shadow:
                        inset 0 -1px 0 var(--twc-color-border),
                        inset 1px 0 0 var(--twc-color-border-light);
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    right: 0;
                    background: var(--twc-color-base);
                    position: sticky;
                    z-index: 4;
                }

                .resizer {
                    grid-column: 2;
                    grid-row: 1;
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    width: 8px;
                    cursor: col-resize;
                    display: flex;
                    justify-content: center;
                    z-index: 3;
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    margin-left: -4px;
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    margin-right: -4px;
                }

                &:hover .resizer .line {
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    width: 1px;
                    background: var(--twc-color-border-light);
                }

                .resizer.enabled:hover .line {
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    width: 3px;
                    background: var(--twc-color-primary);
                }

                .resizer:not(.enabled):hover {
                    cursor: not-allowed;

                    .line {
                        // stylelint-disable-next-line declaration-property-unit-disallowed-list
                        width: 3px;
                        background: var(--twc-color-error);
                    }
                }

                .resizer.enabled.dragging .line {
                    // stylelint-disable-next-line declaration-property-unit-disallowed-list
                    width: 3px;
                    background: var(--twc-color-primary);
                }
            }
        }

        .data-rows {
            width: fit-content;
            z-index: 1;

            .no-data {
                color: var(--twc-color-text-gray);
                margin-top: 0.5em;
                font-size: var(--twc-font-size-subtitle);
            }

            .row {
                display: flex;
                width: fit-content;
                box-shadow: inset 0 -1px 0 var(--twc-color-border-light);

                .cell {
                    display: flex;
                    align-items: center;

                    &::content {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &.pinned-left {
                        box-shadow:
                            inset 0 -1px 0 var(--twc-color-border-light),
                            inset -1px 0 0 var(--twc-color-border-light);
                        left: 0;
                        background: var(--twc-color-base);
                        position: sticky;
                    }

                    &.pinned-right {
                        box-shadow:
                            inset 0 -1px 0 var(--twc-color-border-light),
                            inset 1px 0 0 var(--twc-color-border-light);
                        right: 0;
                        background: var(--twc-color-base);
                        position: sticky;
                    }

                    .status {
                        border-radius: 1em;
                        min-height: 1em;
                        width: 100%;
                        height: 1em;
                        max-height: 70%;

                        &.loader {
                            background-color: var(--twc-color-highlight);
                            animation: pulse 1.2s infinite ease-in-out;
                        }

                        @keyframes pulse {
                            0% {
                                opacity: 1;
                            }

                            50% {
                                opacity: 0.3;
                            }

                            100% {
                                opacity: 1;
                            }
                        }

                        &.error {
                            background-color: var(--twc-color-error);
                            opacity: 0.3;
                        }
                    }
                }
            }
        }

        .data-rows.striped {
            .row:not(.even, .selected) {
                background-color: var(--twc-color-mouse-highlight);

                .pinned-left,
                .pinned-right {
                    background-color: var(--twc-color-mouse-highlight);
                }
            }
        }

        &.has-row-selection {
            .data-rows .row:not(.selected):hover {
                background-color: var(--twc-color-highlight);

                .pinned-left,
                .pinned-right {
                    background-color: var(--twc-color-highlight);
                }
            }

            .data-rows .row:hover {
                cursor: pointer;

                .pinned-left,
                .pinned-right {
                    cursor: pointer;
                }
            }
        }

        .data-rows .row.selected {
            background-color: var(--twc-color-primary-light);

            .pinned-left,
            .pinned-right {
                background-color: var(--twc-color-primary-light);
            }
        }

        .check-select {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.default-header-tooltip {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .column-name {
        font-weight: bold;
    }

    .sort {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        font-size: 0.8em;
        color: var(--twc-color-text-gray);
    }
}
