<div class="page">
    <div class="title">
        <h1>Snackbar</h1>
        <div class="text-light text-large">
            Snackbars are used to display messages to the user.
        </div>
    </div>
    <tab-separator />
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>
                To use the component, import one of the following modules into
                your module/component:
            </p>

            <ul>
                <li>
                    <code>TableauUiSnackModule</code> - for granular import
                </li>
                <li>
                    <code>TableauUiAllModule</code> - to import all components
                    from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Examples</h3>
            <div class="two">
                <div class="spacer">
                    <button color="primary" (click)="snackService.openSnack('This is a simple snack forever', 0)">Simple Snack from top, forever</button>
                        <button color="error" (click)="snackService.openSnack('This is a simple snack forever', 0, 'error')">Simple Snack from top, forever</button>
                        <button color="primary" (click)="snackService.openSnackWithAction('This is a simple snack forever', 'Click me', snackAction.bind(this), 0, 'success')">Simple Success Snack from top with a link, forever</button>

                        <button color="primary" (click)="snackService.openSnack('This is a simple snack forever', 0, 'info', 'bottom')">Simple Snack from bottom, forever</button>
                        <button color="error" (click)="snackService.openSnack('This is a simple snack forever', 0, 'error', 'bottom')">Simple Snack from bottom, forever</button>
                        <button color="primary" (click)="snackService.openSnackWithAction('This is a simple snack forever', 'Click me', snackAction.bind(this), 0, 'success', 'bottom')">Simple Success Snack from bottom with a link, forever</button>
                        

                        <button color="primary" (click)="snackService.openSnack('This is a simple snack for 5 seconds', 5000)">Simple Snack from top, 5 secs</button>
                        <button color="error" (click)="snackService.openSnack('This is a simple snack for 5 seconds', 5000, 'error')">Simple Snack from top, 5 secs</button>
                        <button color="primary" (click)="snackService.openSnackWithAction('This is a simple snack forever', 'Click me', snackAction.bind(this), 5000, 'success')">Simple Success Snack from top with a link, 5 secs</button>

                        <button color="primary" (click)="snackService.openSnack('This is a simple snack for 5 seconds', 5000, 'info', 'bottom')">Simple Snack from bottom, 5 secs</button>
                        <button color="error" (click)="snackService.openSnack('This is a simple snack for 5 seconds', 5000, 'error', 'bottom')">Simple Snack from bottom, 5 secs</button>
                        <button color="primary" (click)="snackService.openSnackWithAction('This is a simple snack forever', 'Click me', snackAction.bind(this), 5000, 'success', 'bottom')">Simple Success Snack from top with a link, 5 secs</button>
                </div>
                <div class="spacer">
                    <ng-template #snackTemplate let-text="text">
                        <span>This is a random template</span><span> {{text}}</span>
                        <tab-checkbox [value]="true">Checkbox</tab-checkbox>
                    </ng-template>
                    <button color="primary" (click)="snackService.openSnackFromTemplate(snackTemplate, { text: '1'}, 5000)">Templated Snack from top, 5 secs</button>
                    <button color="error" (click)="snackService.openSnackFromTemplate(snackTemplate,  { text: '2'},  5000, 'error')">Templated Snack from top, 5 secs</button>
                    <button color="primary" (click)="snackService.openSnackFromTemplate(snackTemplate,  { text: '2'},  5000, 'success')">Templated Success Snack from top, 5 secs</button>


                    <button color="primary" (click)="snackService.openSnackFromTemplate(snackTemplate,  { text: '3'}, 5000, 'info', 'bottom')">Templated Snack from bottom, 5 secs</button>
                    <button color="error" (click)="snackService.openSnackFromTemplate(snackTemplate,  { text: '4'}, 5000, 'error', 'bottom')">Templated Snack from bottom, 5 secs</button>
                    <button color="primary" (click)="snackService.openSnackFromTemplate(snackTemplate,  { text: '3'}, 5000, 'success', 'bottom')">Templated Success Snack from bottom, 5 secs</button>

                    <button color="primary" (click)="openCustomSnack(5000)">Custom Component Snack from top, 5 secs</button>
                    <button color="error" (click)="openCustomSnack(5000, 'error')">Custom Component Snack from top, 5 secs</button>
                    <button color="primary" (click)="openCustomSnack(5000, 'success')">Custom Success Component Snack from top, 5 secs</button>

                    <button color="primary" (click)="openCustomSnack(5000, 'info', 'bottom')">Custom Component Snack from bottom, 5 secs</button>
                    <button color="error" (click)="openCustomSnack(5000, 'error', 'bottom')">Custom Component Snack from bottom, 5 secs</button>
                    <button color="primary" (click)="openCustomSnack(5000, 'success', 'bottom')">Custom Success Component Snack from bottom, 5 secs</button>
                </div>
            </div>
        </div>
    </div>
</div>
