<div class="page">
    <div class="title">
        <h1>Select Dropdown</h1>
        <div class="text-light text-large">Select dropdown component is a custom dropdown component that can be used to display a list of options.</div>
    </div>
    <tab-separator></tab-separator>
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>To use the component, import one of the following modules into your module/component:</p>

            <ul>
                <li>
                    <code>TableauUiSelectModule</code>
                    - for granular import
                </li>
                <li>
                    <code>TableauUiAllModule</code>
                    - to import all components from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Examples without Form</h3>
            <p>The following examples demonstrate the usage of the select dropdown component without a form.</p>
            <div class="two spacer">
                <tab-form-field>
                    <tab-label>Single value, wrap, icons shown, no check, select highlight:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [value]="$singleSelectValue()"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        (valueChange)="singleSelectValueChanged($event)"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will wrap and extend the height of the control. Icons are shown in selected value</tab-hint>
                </tab-form-field>
                <tab-form-field>
                    <tab-label>Single value, truncate, only text, check right:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [value]="$singleSelectValue()"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedItemHighlight]="false"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'right'"
                        (valueChange)="singleSelectValueChanged($event)"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right</tab-hint>
                </tab-form-field>

                <tab-form-field>
                    <tab-label>Disabled</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [value]="$singleSelectValue()"
                        [disabled]="true"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'right'"
                        (valueChange)="singleSelectValueChanged($event)"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right</tab-hint>
                </tab-form-field>
                <tab-form-field>
                    <tab-label>Prefix & Suffix, truncate, no chevron, no clear, check left:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [value]="$singleSelectValue()"
                        [allowClear]="false"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'left'"
                        [selectedItemHighlight]="false"
                        [showChevron]="false"
                        (valueChange)="singleSelectValueChanged($event)"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-prefix>
                        <tab-icon value="search"></tab-icon>
                    </tab-prefix>
                    <tab-suffix>Random suffix</tab-suffix>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right. No chevron</tab-hint>
                </tab-form-field>
            </div>
        </div>
        <div class="section">
            <h3>Examples with Reactive Forms</h3>
            <p>The following examples demonstrate the usage of the select dropdown component with reactive forms.</p>
            <div class="two spacer">
                <tab-form-field>
                    <tab-label>Single value, wrap, icons shown, no check, selected item highlight:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [formControl]="(singleFormControl | formControl | async)!"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will wrap and extend the height of the control. Icons are shown in selected value</tab-hint>
                    @if (singleFormControl | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                    @if (singleFormControl | formMeta | async | formHasError: 'min') {
                        <tab-error>Min value is 1</tab-error>
                    }
                    @if (singleFormControl | formMeta | async | formHasError: 'max') {
                        <tab-error>Max value is 3. Can't select last item.</tab-error>
                    }
                </tab-form-field>
                <tab-form-field>
                    <tab-label>Single value, truncate, only text, check right:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [formControl]="(singleFormControl2 | formControl | async)!"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'right'"
                        [selectedItemHighlight]="false"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right</tab-hint>
                    @if (singleFormControl2 | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                    @if (singleFormControl2 | formMeta | async | formHasError: 'min') {
                        <tab-error>Min value is 1</tab-error>
                    }
                    @if (singleFormControl2 | formMeta | async | formHasError: 'max') {
                        <tab-error>Max value is 3. Can't select last item.</tab-error>
                    }
                </tab-form-field>

                <tab-form-field>
                    <tab-label>Disabled</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [formControl]="(disabledSingleFormControl | formControl | async)!"
                        [allowClear]="true"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'right'"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right</tab-hint>
                    @if (disabledSingleFormControl | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                    @if (disabledSingleFormControl | formMeta | async | formHasError: 'min') {
                        <tab-error>Min value is 1</tab-error>
                    }
                    @if (disabledSingleFormControl | formMeta | async | formHasError: 'max') {
                        <tab-error>Max value is 3. Can't select last item.</tab-error>
                    }
                </tab-form-field>
                <tab-form-field>
                    <tab-label>Prefix & Suffix, truncate, no chevron, no clear, no check, select highlight:</tab-label>
                    <tab-select
                        placeholder="Select any value"
                        [formControl]="(singleFormControl3 | formControl | async)!"
                        [allowClear]="false"
                        [allowMultiple]="false"
                        [multipleSelectionMaxItemsListed]="5"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'truncate'"
                        [selectedValueTemplateContext]="onlyTextSelectedValue"
                        [selectedCheckIconLocation]="'none'"
                        [selectedItemHighlight]="true"
                        [showChevron]="false"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-prefix>
                        <tab-icon value="search"></tab-icon>
                    </tab-prefix>
                    <tab-suffix>Random suffix</tab-suffix>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right. No chevron</tab-hint>
                    @if (singleFormControl3 | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                    @if (singleFormControl3 | formMeta | async | formHasError: 'min') {
                        <tab-error>Min value is 1</tab-error>
                    }
                    @if (singleFormControl3 | formMeta | async | formHasError: 'max') {
                        <tab-error>Max value is 3. Can't select last item.</tab-error>
                    }
                </tab-form-field>

                <tab-form-field>
                    <tab-label>Multi value, wrap, icons shown, check left, max 2 items displayed:</tab-label>
                    <tab-select
                        placeholder="Select multiple values"
                        [formControl]="(multiFormControl | formControl | async)!"
                        [allowClear]="true"
                        [allowMultiple]="true"
                        [multipleSelectionMaxItemsListed]="2"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [selectedValueWrapMode]="'wrap'"
                        [selectedItemHighlight]="false"
                        [selectedCheckIconLocation]="'left'"
                    >
                        <tab-option
                            text="This is a looooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right. No chevron</tab-hint>
                    @if (multiFormControl | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                </tab-form-field>

                <tab-form-field>
                    <tab-label>Multi value, truncate, icons shown, no check, max 2 items displayed, fix dropdown height:</tab-label>
                    <tab-select
                        placeholder="Select multiple values"
                        [formControl]="(multiFormControl | formControl | async)!"
                        [selectedValueWrapMode]="'truncate'"
                        [allowClear]="true"
                        [allowMultiple]="true"
                        [multipleSelectionMaxItemsListed]="2"
                        [multipleSelectionNumberSelectedTemplate]="'{number} items selected'"
                        [dropdownOptionsContainerCss]="{ 'max-height': '80px' }"
                    >
                        <tab-option
                            text="This is a looooooooooooooooooooooooooooooooooooooooooooooong option is provided as a set of values"
                            icon="home"
                            hint="There are 2 ways to create tab-options; by values and by templates"
                            [value]="1"
                        ></tab-option>
                        <tab-option text="Disabled value" hint="with random hint" [value]="2" [disabled]="true"></tab-option>
                        <ng-template #iconRef>
                            <tab-icon color="success" value="home" [fill]="true"></tab-icon>
                        </ng-template>
                        <ng-template #textRef>
                            This option is provided as a
                            <b>template</b>
                        </ng-template>
                        <ng-template #hintRef>
                            <tab-hint>There are 2 ways to create tab-options; by values and by templates</tab-hint>
                        </ng-template>
                        <tab-option [value]="3" [icon]="iconRef" [text]="textRef" [hint]="hintRef"></tab-option>
                        <ng-template #combinationRef>
                            This option is provided as a
                            <b>combination</b>
                            of text and template
                        </ng-template>
                        <tab-option icon="home" hint="with a hint" [value]="4" [text]="combinationRef">
                            <tab-hint>with a hint</tab-hint>
                        </tab-option>
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right. No chevron</tab-hint>
                    @if (multiFormControl | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                </tab-form-field>

                <tab-form-field>
                    <tab-label>Custom search for names</tab-label>
                    <tab-select
                        placeholder="Select multiple users"
                        [formControl]="searchFormControl"
                        [selectedValueWrapMode]="'truncate'"
                        [allowClear]="true"
                        [allowMultiple]="true"
                        [multipleSelectionMaxItemsListed]="2"
                        [multipleSelectionNumberSelectedTemplate]="'{number} users selected'"
                        [dropdownOptionsContainerCss]="{ 'max-height': '80px' }"
                    >
                        <tab-prefix>
                            <tab-form-field style="padding: 0.5em; display: block; width: calc(100% - 1em)">
                                <input #search type="text" placeholder="Search for users" [value]="searchValue$ | async" (input)="searchValueChanged(search.value)" />
                                <tab-prefix>
                                    <tab-icon value="search"></tab-icon>
                                </tab-prefix>
                            </tab-form-field>
                            @if ($searching()) {
                                <tab-loading-gif></tab-loading-gif>
                            }
                        </tab-prefix>
                        @if (!$searching()) {
                            @for (user of searchResults$ | async; track user.id) {
                                <tab-option [value]="user.id" [text]="user.name"></tab-option>
                            }
                        }
                        @if (!$searching()) {
                            <tab-suffix>
                                <tab-separator style="margin: 0.5em 0"></tab-separator>
                                <tab-hint style="margin: 0.5em; display: block">{{ (searchResults$ | async)?.length }} results found</tab-hint>
                            </tab-suffix>
                        }
                    </tab-select>
                    <tab-hint>Selected value will truncate. Only text is shown in selected value. Selected arrow to the right. No chevron</tab-hint>
                    @if (multiFormControl | formMeta | async | formHasError: 'required') {
                        <tab-error>Required</tab-error>
                    }
                </tab-form-field>
            </div>
        </div>
    </div>
</div>
