<div class="page">
    <div class="title">
        <h1>Menu</h1>
        <div class="text-light text-large">
            Menu component is a custom component that can be used to provide a
            floating menu to any HTML element
        </div>
    </div>
    <tab-separator></tab-separator>
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>
                To use the component, import one of the following modules into
                your module/component:
            </p>

            <ul>
                <li><code>TableauUiMenuModule</code> - for granular import</li>
                <li>
                    <code>TableauUiAllModule</code> - to import all components
                    from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Examples</h3>
            <p>
                The following examples demonstrate the usage of the menu
                component.
            </p>
            <div class="two spacer">
              

                <button color="secondary" [menu]="menu1" (click)="menu1.open()">
                    Button menu
                </button>
                <tab-button-menu #menu1 width="fit-content">
                    <tab-menu-button-group #group>
                        <tab-menu-button color="secondary">
                            haha
                        </tab-menu-button>
                        <tab-menu-button
                            color="primary"
                            tab-menu-button
                            color="secondary"
                        >
                            This is a much longer text
                            <tab-menu-button color="secondary">
                                haha
                            </tab-menu-button>
                            <tab-menu-button
                                color="primary"
                                tab-menu-button
                                color="secondary"
                            >
                                This is a much longer text
                            </tab-menu-button>
                            <tab-menu-button
                                [disabled]="true"
                                tab-menu-button
                                color="secondary"
                            >
                                Disabled
                            </tab-menu-button>
                            <tab-menu-button
                                color="error"
                                tab-menu-button
                                color="secondary"
                            >
                                stuff
                                <tab-menu-button color="secondary">
                                    haha
                                </tab-menu-button>
                                <tab-menu-button
                                    color="primary"
                                    tab-menu-button
                                    color="secondary"
                                >
                                    This is a much longer text
                                </tab-menu-button>
                                <tab-menu-button
                                    [disabled]="true"
                                    tab-menu-button
                                    color="secondary"
                                >
                                    Disabled
                                </tab-menu-button>
                                <tab-menu-button
                                    color="error"
                                    tab-menu-button
                                    color="secondary"
                                >
                                    stuff
                                    <tab-menu-button color="secondary">
                                        haha
                                    </tab-menu-button>
                                    <tab-menu-button
                                        color="primary"
                                        tab-menu-button
                                        color="secondary"
                                    >
                                        This is a much longer text
                                    </tab-menu-button>
                                    <tab-menu-button
                                        [disabled]="true"
                                        tab-menu-button
                                        color="secondary"
                                    >
                                        Disabled
                                    </tab-menu-button>
                                    <tab-menu-button
                                        color="error"
                                        tab-menu-button
                                        color="secondary"
                                    >
                                        stuff
                                    </tab-menu-button>
                                    <tab-menu-button
                                        color="primary"
                                        [disabled]="true"
                                        tab-menu-button
                                        color="secondary"
                                    >
                                        Disabled primary
                                    </tab-menu-button>
                                </tab-menu-button>
                                <tab-menu-button
                                    color="primary"
                                    [disabled]="true"
                                    tab-menu-button
                                    color="secondary"
                                >
                                    Disabled primary
                                </tab-menu-button>
                            </tab-menu-button>
                            <tab-menu-button
                                color="primary"
                                [disabled]="true"
                                tab-menu-button
                                color="secondary"
                            >
                                Disabled primary
                            </tab-menu-button>
                        </tab-menu-button>
                        <tab-menu-button
                            [disabled]="true"
                            tab-menu-button
                            color="secondary"
                        >
                            Disabled
                        </tab-menu-button>
                        <tab-menu-button
                            color="error"
                            tab-menu-button
                            color="secondary"
                        >
                            stuff
                        </tab-menu-button>
                        <tab-menu-button
                            color="primary"
                            [disabled]="true"
                            tab-menu-button
                            color="secondary"
                        >
                            Disabled primary
                        </tab-menu-button>
                    </tab-menu-button-group>
                </tab-button-menu>
            </div>
        </div>
    </div>
</div>
