<!-- eslint-disable @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus, @angular-eslint/template/no-inline-styles -->

<div class="page">
    <div class="title">
        <h1>Buttons</h1>
        <div class="text-light text-large">Buttons are used to trigger actions or events.</div>
    </div>
    <tab-separator />
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>To use the component, import one of the following modules into your module/component:</p>

            <ul>
                <li>
                    <code>TableauUiButtonModule</code>
                    - for granular import
                </li>
                <li>
                    <code>TableauUiAllModule</code>
                    - to import all components from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <div class="two">
                <div class="section">
                    <h3>Stroked Button examples</h3>
                    <div class="section">
                        <h4>Layout: primary</h4>
                        <div class="spacer" style="width: fit-content">
                            <button color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">Plain</button>
                            <button color="plain" [disabled]="true" (click)="buttonClick('plain')">Plain disabled</button>
                            <button color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">Secondary</button>
                            <button color="secondary" [disabled]="true" (click)="buttonClick('secondary')">Secondary disabled</button>

                            <button color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">Primary</button>
                            <button color="primary" [disabled]="true" (click)="buttonClick('primary')">Primary disabled</button>

                            <button color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">Error</button>
                            <button color="error" [disabled]="true" (click)="buttonClick('error')">Error disabled</button>

                            <a button color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">Plain as link</a>
                            <a button color="plain" [disabled]="true" (click)="buttonClick('plain')">Plain as link disabled</a>

                            <a button color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">Secondary as link</a>
                            <a button color="secondary" [disabled]="true" (click)="buttonClick('secondary')">Secondary as link disabled</a>

                            <a button color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">Primary as link</a>
                            <a button color="primary" [disabled]="true" (click)="buttonClick('primary')">Primary as link disabled</a>

                            <a button color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">Error as link</a>
                            <a button color="error" [disabled]="true" (click)="buttonClick('error')">Error as link disabled</a>
                        </div>

                        <h4>Layout: icon</h4>
                        <div class="spacer" style="width: fit-content">
                            <div class="icon-container">
                                <button layout="icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Error</span>
                            </div>
                            <div class="icon-container">
                                <button layout="icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>

                                <span>Error disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Error as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>

                                <span>Error as link disabled</span>
                            </div>
                        </div>
                        <h4>Layout: small-icon</h4>
                        <div class="spacer" style="width: fit-content">
                            <div class="icon-container">
                                <button layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Error</span>
                            </div>
                            <div class="icon-container">
                                <button layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>

                                <span>Error disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Error as link</span>
                            </div>
                            <div class="icon-container">
                                <a button layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>

                                <span>Error as link disabled</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h3>Raised Button examples</h3>
                    <div class="section">
                        <h4>Layout: primary</h4>
                        <div class="spacer" style="width: fit-content">
                            <button kind="raised" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">Plain</button>
                            <button kind="raised" color="plain" [disabled]="true" (click)="buttonClick('plain')">Plain disabled</button>
                            <button kind="raised" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">Secondary</button>
                            <button kind="raised" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">Secondary disabled</button>

                            <button kind="raised" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">Primary</button>
                            <button kind="raised" color="primary" [disabled]="true" (click)="buttonClick('primary')">Primary disabled</button>

                            <button kind="raised" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">Error</button>
                            <button kind="raised" color="error" [disabled]="true" (click)="buttonClick('error')">Error disabled</button>

                            <a button kind="raised" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">Plain as link</a>
                            <a button kind="raised" color="plain" [disabled]="true" (click)="buttonClick('plain')">Plain as link disabled</a>

                            <a button kind="raised" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">Secondary as link</a>
                            <a button kind="raised" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">Secondary as link disabled</a>

                            <a button kind="raised" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">Primary as link</a>
                            <a button kind="raised" color="primary" [disabled]="true" (click)="buttonClick('primary')">Primary as link disabled</a>

                            <a button kind="raised" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">Error as link</a>
                            <a button kind="raised" color="error" [disabled]="true" (click)="buttonClick('error')">Error as link disabled</a>
                        </div>

                        <h4>Layout: icon</h4>
                        <div class="spacer" style="width: fit-content">
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Error</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>

                                <span>Error disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Error as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>

                                <span>Error as link disabled</span>
                            </div>
                        </div>
                        <h4>Layout: small-icon</h4>
                        <div class="spacer" style="width: fit-content">
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Plain disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Secondary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Primary disabled</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>
                                <span>Error</span>
                            </div>
                            <div class="icon-container">
                                <button kind="raised" layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </button>

                                <span>Error disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="plain" [loading]="$plainLoading()" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="plain" [disabled]="true" (click)="buttonClick('plain')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Plain as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="secondary" [loading]="$secondaryLoading()" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="secondary" [disabled]="true" (click)="buttonClick('secondary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Secondary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="primary" [loading]="$primaryLoading()" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="primary" [disabled]="true" (click)="buttonClick('primary')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Primary as link disabled</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="error" [loading]="$errorLoading()" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>
                                <span>Error as link</span>
                            </div>
                            <div class="icon-container">
                                <a button kind="raised" layout="small-icon" color="error" [disabled]="true" (click)="buttonClick('error')">
                                    <tab-icon value="home" />
                                </a>

                                <span>Error as link disabled</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3>Button Toggle examples</h3>
            <div class="section">
                <p>Icons only</p>
                <tab-button-toggle [(selectedValue)]="buttonToggleValue">
                    <tab-option value="left" icon="format_align_left" [disabled]="true" />
                    <tab-option value="center" icon="format_align_center" />
                    <tab-option value="right" icon="format_align_right" />
                    <tab-option value="justify" icon="format_align_justify" />
                </tab-button-toggle>
                <p>Icon + text</p>
                <tab-button-toggle [style.width]="'100%'" [(selectedValue)]="buttonToggleValue">
                    <tab-option value="left" icon="format_align_left" text="Left" [disabled]="true" />
                    <tab-option value="center" icon="format_align_center" text="Center" />
                    <tab-option value="right" icon="format_align_right" text="Right" />
                    <tab-option value="justify" icon="format_align_justify" text="Justify" />
                </tab-button-toggle>
                <p>Icon + text disabled</p>
                <tab-button-toggle selectedValue="left" [disabled]="true">
                    <tab-option value="left" icon="format_align_left" text="Left" [disabled]="true" />
                    <tab-option value="center" icon="format_align_center" text="Center" />
                    <tab-option value="right" icon="format_align_right" text="Right" />
                    <tab-option value="justify" icon="format_align_justify" text="Justify" />
                </tab-button-toggle>
            </div>
        </div>
    </div>
</div>
