<div class="page">
    <div class="title">
        <h1>Buttons</h1>
        <div class="text-light text-large">
            Buttons are used to trigger actions or events.
        </div>
    </div>
    <tab-separator></tab-separator>
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>
                To use the component, import one of the following modules into
                your module/component:
            </p>

            <ul>
                <li>
                    <code>TableauUiButtonModule</code> - for granular import
                </li>
                <li>
                    <code>TableauUiAllModule</code> - to import all components
                    from this library
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Examples</h3>
            <div class="spacer" style="width: fit-content">
                <button color="secondary" [loading]="buttonsLoading.secondary"
                (click)="buttonClick('secondary')">Secondary</button>
                <button color="secondary" [disabled]="true"
                (click)="buttonClick('secondary')">Secondary disabled</button>

                <button color="primary" [loading]="buttonsLoading.primary"
                (click)="buttonClick('primary')">Primary</button>
                <button color="primary" [disabled]="true"
                (click)="buttonClick('primary')">Primary disabled</button>

                <button color="error" [loading]="buttonsLoading.error"
                (click)="buttonClick('error')">Error</button>
                <button color="error" [disabled]="true"
                (click)="buttonClick('error')">Error disabled</button>
            </div>
        </div>
    </div>
</div>
