<div class="page">
    <div class="title">
        <h1>Stepper</h1>
        <div class="text-light text-large">The stepper is used to provide a step-by-step editor to users</div>
    </div>
    <tab-separator />
    <div class="content">
        <div class="section">
            <h3>Module</h3>
            <p>To use the component, import one of the following modules into your module/component:</p>

            <ul>
                <li>
                    <code>TableauUiStepperModule</code>
                    - for granular import
                </li>
            </ul>
        </div>

        <div class="section">
            <h3>Example</h3>

           
        </div>
    </div>
</div>
